<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
   <bean id="messageResource" class="org.project.Messenger.resources.MessageResource">
   		<property name="messageService" ref="messageService" />
   </bean>
   
   <bean id="messageService" class="org.project.Messenger.service.MessageService"/>
   
   <bean id="commentResource" class="org.project.Messenger.resources.CommentResource">
   		<property name="commentService" ref="commentService" />
   </bean>
   
   <bean id="commentService" class="org.project.Messenger.service.CommentService"/>

</beans>